<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <base href="{{ base_url }}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="{{ meta_descripton }}" />
    <!--[if IE
      ]><link rel="icon" href="skins/standard/favicon.ico"
    /><![endif]-->
    <title>{{ board_name }}</title>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-aacc2dbb.4810fd19.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-01f6fbab.924a4bd5.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-c1d52a5c.f27ca4b9.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-16e6bfe5.0e855e48.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-22da2759.c2bb1d49.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-26f8b3aa.2a510b95.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-edbb3357.378b6bec.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-f945abb9.7fcfb8e4.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-ed1041e6.76d9ce96.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-1656f0b4.1c42b6ea.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-5338af6e.8f67cc8e.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-7d47fb9b.1835433c.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-b8bcc76a.c23d6b22.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-dac6cdf7.ef0282f4.js"
    ></script>
    <script
      defer="defer"
      src="skins/standard/js/chunk-vendors-a73a0a1f.e2f68b61.js"
    ></script>
    <script defer="defer" src="skins/standard/js/app.6d4285ef.js"></script>
    <link href="skins/standard/css/app.5c6f5afa.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="skins/standard/img/icons/favicon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="skins/standard/img/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="skins/standard/img/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="skins/standard/manifest.json" />
    <meta name="theme-color" content="#4DBA87" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="{{ board_name }}" />
    <link
      rel="apple-touch-icon"
      href="skins/standard/img/icons/apple-touch-icon-152x152.png"
    />
    <link
      rel="mask-icon"
      href="skins/standard/img/icons/safari-pinned-tab.svg"
      color="#4DBA87"
    />
    <meta
      name="msapplication-TileImage"
      content="skins/standard/img/icons/msapplication-icon-144x144.png"
    />
    <meta name="msapplication-TileColor" content="#000000" />
  </head>
  <body>
    <noscript
      ><strong
        >We're sorry but OneBB doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong
      ></noscript
    >
    <div
      id="app"
      data-obb="{{ base_url }}"
      data-url="{{ app.request.schemeAndHttpHost }}"
    ></div>
    {% for snippet in snippets %}{{ snippet|raw }}{% endfor %}
  </body>
</html>
