<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <base href="{{ base_url }}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!--[if IE
      ]><link rel="icon" href="admin/standard/favicon.ico"
    /><![endif]-->
    <title>onebb-admin-new</title>
    <script
      defer="defer"
      type="module"
      src="admin/standard/js/chunk-vendors.6b8ea79c.js"
    ></script>
    <script
      defer="defer"
      type="module"
      src="admin/standard/js/app.331f989c.js"
    ></script>
    <link href="admin/standard/css/app.458af85e.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="admin/standard/img/icons/favicon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="admin/standard/img/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="admin/standard/img/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="admin/standard/manifest.json" />
    <meta name="theme-color" content="#4DBA87" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="onebb-admin-new" />
    <link
      rel="apple-touch-icon"
      href="admin/standard/img/icons/apple-touch-icon-152x152.png"
    />
    <link
      rel="mask-icon"
      href="admin/standard/img/icons/safari-pinned-tab.svg"
      color="#4DBA87"
    />
    <meta
      name="msapplication-TileImage"
      content="admin/standard/img/icons/msapplication-icon-144x144.png"
    />
    <meta name="msapplication-TileColor" content="#000000" />
    <script
      defer="defer"
      src="admin/standard/js/chunk-vendors-legacy.6b72e1ad.js"
      nomodule
    ></script>
    <script
      defer="defer"
      src="admin/standard/js/app-legacy.8aa50f85.js"
      nomodule
    ></script>
  </head>
  <body>
    <noscript
      ><strong
        >We're sorry but onebb-admin-new doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      ></noscript
    >
    <div
      id="app"
      data-locale="en"
      data-obb="{{ base_url }}"
      data-acp="{{ acp_url }}"
      data-url="{{ app.request.schemeAndHttpHost }}"
    ></div>
  </body>
</html>
